<div class="page-header" align="center">
<h1>Welcome to Robot World!</h1>
</div>

  <div class ="jumbotron" align="center">
  <img src="https://robohash.org/megan">   <img src="https://robohash.org/turing">  <img src="https://robohash.org/matt"><br/>
<br>
  <a href="/robots"  <button type = 'button' class="btn btn-primary">See the Robot Index</a>
  <a href="/robots/new" <button type = 'button' class="btn btn-success">Make a New Robot</a>

</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Robot World</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/robots">Index</a></li>
        <li><a href="/robots">New</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
