<div class="page-header" align="center">
<h1>Welcome to THE Robot World <small>...enter with caution.</small></h1>
</div>

  <div class ="jumbotron" align="center">
    <a href="/robots"  <button type = 'button' class="btn btn-primary" padding-right="15px">See the Robot Index</a>
    <a href="/robots/new" <button type = 'button' class="btn btn-success">Make a New Robot</a>
      <br>
  <img src="https://robohash.org/megan">   <img src="https://robohash.org/turing">  <img src="https://robohash.org/matt"><br/>
  <br>

</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Robot World</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/robots">Index</a></li>
        <li><a href="/robots/new">New</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
