<div class="page-header" align="center">
<h2>Let's Make a New Robot</h2>
</div>

<div class="jumbotron">
<form action="/robots" method="post" align="center">
  <p>Enter the deets here:</p>
      <input type='text' placeholder="Name" name='robot[name]'/> <br/>
      <input type='text' placeholder="City" name='robot[city]'/> <br/>
      <input type='text' placeholder="State" name='robot[state]'/> <br/>
      <input type='text' placeholder="Department" name='robot[department]'/> <br/>
    <input type='submit'/> </td>
    <br>
</form>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Robot World</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/robots">Index</a></li>
        <li><a href="/robots/new">New</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
