<h1 align="center"><a href="/robots">Robot Index</a></h1>

<h2 align="center"><%= @robot.name %></h2>

<p align="center"><%= @robot.city %></p>
<p align="center"><%= @robot.state %></p>
<p align="center"><%= @robot.department %></p>
